#sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 0 20px;
}

#sobre_camn {
    width: 30%;  /* Diminui o tamanho da imagem */
    height: auto;
    object-fit: cover;
    border-radius: 10px; /* Mantém o arredondamento */
    /* Removido box-shadow */
}

#sobre_content {
    width: 60%; /* Ajustei para compensar a diminuição da imagem */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sobre_content .section-title {
    font-size: 3rem;
    margin-bottom: 20px;
}

#sobre_content .section-subtitle {
    font-size: 2rem;
    color: var(--color-primary-6);
    margin-bottom: 15px;
}

#sobre_content p {
    font-size: 1.125rem;
    line-height: 1.8; /* Aumenta o espaçamento entre as linhas */
    color: var(--color-neutral-2);
    text-align: justify; /* Justifica o texto para uma leitura mais fluida */
    margin-top: 10px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1170px) {
    #sobre {
        flex-direction: column;
        text-align: center;
    }

    #sobre_camn {
        width: 70%; /* Aumenta a largura da imagem em telas menores */
        margin-bottom: 30px;
    }

    #sobre_content {
        width: 100%;
    }

    #sobre_content .section-title {
        font-size: 2.5rem;
    }

    #sobre_content .section-subtitle {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 600px) {
    #sobre_content .section-title {
        font-size: 2rem;
    }

    #sobre_content .section-subtitle {
        font-size: 1.6rem;
    }

    #sobre_content p {
        font-size: 1rem;
    }
}
